/*-----------------------------------------Global-----------------------------------------*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*---------------------------------------Header------------------------------------------*/

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}


.header-container {
    display: flex;
    align-items: center;
}


.header-nav {
    display: flex;
    align-items: center;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address {
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    color: #2E2F42;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 24px 0;
    margin-right: 76px;
}



.header-logo .part-of-link,
.footer-logo .part-of-link {
    color: #4D5AE5;
}

.link {
    position: relative;
    display: block;
    color: #2E2F42;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    padding: 24px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link:hover,
.link:focus,
.address-link:hover,
.address-link:focus,
.link.current {
    color: #404BBF;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover::after,
.link:focus::after,
.link.current::after {
    opacity: 1;
}



.address-link {
    display: block;
    padding: 24px 0;
    color: #434455;
    font-weight: 400;
    font-style: normal;
    text-transform: lowercase;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*------------------------------------------------------Main------------------------------------------------*/

.main-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.main-hero {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.main-btn {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover,
.main-btn:focus {
    background-color: #404BBF;
}

/*----------------------------------------Features-------------------------------------------------*/



.subtitle-cards {
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    ;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.features-section {
    padding: 120px 0;
}

.features-svg {
    display: block;
    width: 64px;
    height: 64px;
}

.features-icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    width: 264px;
    height: 112px;
}


.features-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.features-item {
    width: calc((100% - 72px)/4);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
}

.features-hero {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-text {
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.features-text::first-letter {
    text-transform: uppercase;
}

/*------------------------------------------------Team-------------------------------------------*/

.subtitle-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.subtitle-hero {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 73px;

}

.subtitle-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.subtitle-cards {

    display: block;
    width: calc((100% - 72px)/4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-content {
    padding: 32px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.subtitle-team h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
}

.subtitle-team p {
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.card-social {
    display: flex;
    gap: 24px;
    margin-top: 8px;
}

.card-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card-social-svg {
    display: block;
    width: 16px;
    height: 16px;
}

.card-social-link:hover {
    background-color: #404bbf;
}

/*-------------------------------------------------------Portfolio---------------------------------------------*/



.subtitle-portfolio {
    padding: 120px 0;
}

.subtitle-hero {
    padding-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.thumb {
    overflow: hidden;
    position: relative;

}

.overlay {
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px 164px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.portfolio-item:hover .overlay {
    transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-portfolio {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.subtitle-portfolio h3 {

    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-transform: capitalize;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.subtitle-portfolio p {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*----------------------------------------------------Footer----------------------------------------------------*/
.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}


.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
    display: inline-block;
    margin-bottom: 16px;
}

.footer p {
    color: #f4f4fd;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    width: 264px;
}

.footer p::first-letter {
    color: #f4f4fd;
    text-transform: uppercase;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.footer-social-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #F4F4FD;
}

.footer-social-link:hover {
    background-color: #31D0AA;
}

.footer-social-svg {
    display: block;
    width: 24px;
    height: 24px;
}

.footer-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.container-footer {
    display: flex;
    gap: 120px;
    align-items: baseline;
}